<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../static/css/output.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body class="bg-[#111827]">
        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <nav class="flex items-center justify-between mb-10">
                    <img src="../static/assets/navbar-logo.png" alt="Logo">
                    <a  href="{{ url_for('download_cv') }}" class="px-7 py-3 md:px-9 md:py-4 bg-white font-medium md:font-semibold text-gray-700 text-md rounded-md hover:bg-gray-700 hover:text-white transition ease-linear duration-500" download>Descarga mi CV</a>
                </nav>
                <h1 class="text-slate-300 text-center text-5xl leading-none mb-20">Bienvenido {{ user.username }}</h1>
                <div class="text-center">
                    <div class="flex justify-center mb-16">
                        <img src="assets/image/home-img.png" alt="Image">
                    </div>
                    <h6 class="font-medium text-slate-300 text-lg md:text-2xl uppercase mb-8">Lucas Nahuel Espindola</h6>
                    <h1 class="font-normal text-slate-300 text-4xl md:text-7xl leading-none mb-8">Software Developer</h1>
                    <p class="font-normal text-slate-300 text-md md:text-xl mb-16">Tengo pasión por el software. Disfruto creando herramientas que hagan la vida más fácil a las personas.</p>
                    <!-- <a href="#" class="px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-gray-700 text-gray-50 text-sm rounded-md hover:bg-gray-50 hover:text-gray-700 transition ease-linear duration-500">Hire me</a> -->
                </div>
            </div>
        </section>

        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                    <div class="bg-gray-700 px-8 py-10 rounded-md">
                        <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                            <i data-feather="activity"></i>
                        </div>
                        <h4 class="font-medium text-slate-300 text-lg mb-4">Experiencia</h4>
                        <p class="font-normal text-slate-400 text-md">Poseo experiencia comprobable para el desarrollo y mantenimiento de software. Asi mismo como creacion de codigo reutilizable. Uso de metodologias agiles para aprovechar al maximo el tiempo.</p>
                    </div>
                    
                    <!-- <div class="bg-gray-700 px-8 py-10 rounded-md">
                        <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                            <i data-feather="codesandbox"></i>
                        </div>
                        <h4 class="font-medium text-slate-300 text-lg mb-4">Useful sandboxes</h4>
                        <p class="font-normal text-gray-500 text-md">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                    </div> -->
                    
                    <div class="bg-gray-700 px-8 py-10 rounded-md">
                        <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                            <i data-feather="coffee"></i>
                        </div>
                        <h4 class="font-medium text-slate-300 text-lg mb-4">Proyectos Paralelos</h4>
                        <p class="font-normal text-slate-400 text-md">Tengo proyectos propios en distintas tecnologias. Me apasiona el probar en pequeños proyectos tecnologias nuevas.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <div class="flex flex-col lg:flex-row justify-between">
                    <div class="mb-10 lg:mb-0">
                        <h1 class="font-medium text-slate-300 text-3xl md:text-4xl mb-5">Algunos Trabajos Realizados</h1>
                        <p class="font-normal text-slate-400 text-xs md:text-base">Algunos de los trabajos paralelos realizados. <br> Los mismos se obtienen mediante <br> la API que ofrece GitHub.</p>
                    </div>
                    <div class="space-y-6">
                        {% for repo in repos %}
                            <div class="flex space-x-6">
                                <h1 class="font-normal text-slate-300 text-3xl md:text-4xl">{{ "%02d"|format(loop.index) }}</h1>
                                <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>
                                <div>
                                    <h1 class="font-normal text-slate-300 text-3xl md:text-4xl mb-5">{{ repo.name }}</h1>
                                    <p class="font-normal text-slate-400 text-sm md:text-base">{{ repo.description }}</p>
                                    <p class="font-normal text-slate-400 text-sm md:text-base"><a href="{{ repo.svn_url }}" class="flex">Link al codigo<i data-feather="external-link" class="ml-2"></i></a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h1 class="font-medium text-slate-300 text-3xl md:text-4xl mb-5">Educacion</h1>
                <!-- <p class="font-normal text-gray-500 text-xs md:text-base mb-20">Below is a summary of the places I studied</p> -->
                <div class="grid">
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <h4 class="font-medium text-gray-700 text-lg mb-4">2019 - 2023</h4>
                        <p class="font-normal text-gray-700 text-md mb-4">
                        Estudiante graduado de la Tecnicatura en Programación y Administración de Redes, 
                        donde he cultivado una sólida base de conocimientos en el fascinante mundo del desarrollo de software. 
                        Mi enfoque principal se ha centrado en el back-end, donde he adquirido experiencia significativa trabajando con tecnologías de vanguardia.
                        Durante mi formación, me he sumergido en el universo del back-end, destacándome en el manejo de tecnologías clave como Laravel, Docker, PHP y Javascript. 
                        Estos cimientos tecnológicos han sido la piedra angular de mi formación, capacitándome para enfrentar desafíos complejos y concebir soluciones innovadoras.
                        Mi habilidad para implementar Unit Tests y Feature Tests demuestra mi compromiso con la calidad del software y la creación de soluciones robustas. 
                        Estoy emocionado por seguir explorando las infinitas posibilidades que el mundo del desarrollo ofrece, y por aplicar mis conocimientos adquiridos en proyectos futuros.
                        </p>
                        <div class="relative">
                            <h6 class="font-semibold text-slate-700 text-md relative z-10"><a href="https://exa.unicen.edu.ar/">Visitar la web de la Universidad</a></h6>
                            <span class="w-52 h-1 bg-blue-300 absolute bottom-1 left-0 z-0"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h1 class="font-medium text-slate-300 text-3xl md:text-4xl">Tecnologías</h1>
                <!-- <p class="font-normal text-gray-500 text-xs md:text-base mb-20">Below is a summary of the places I studied</p> -->
                <div class="flex flex-col justify-center items-center py-10 md:py-16">
                    <div class="container max-w-screen-xl mx-auto px-4 mt-3 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-6">
                        {% for skill in skills %}
                        <div class="relative flex flex-grow !flex-row flex-col items-center rounded-[10px] rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] dark:border-[#ffffff33] dark:!bg-navy-800 dark:text-white dark:shadow-none">
                            <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
                                <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
                                    <span class="flex items-center text-brand-500 dark:text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 640 512"><path d="{{ skill['svg_path'] }}"/></svg>
                                    </span>
                                </div>
                            </div>
                            <div class="h-50 ml-4 flex w-auto flex-col justify-center">
                                <h4 class="text-xl font-bold text-slate-700"> {{ skill['name'] }} </h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h1 class="font-medium text-slate-300 text-3xl md:text-4xl mb-5">Experiencia</h1>
                <!-- <p class="font-normal text-gray-500 text-xs md:text-base mb-20">Below is a summary of the places I studied</p> -->
                <div class="flex flex-col lg:flex-row justify-between">
                {% for experience in experiences %}
                    <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                        <h6 class="font-medium text-gray-400 text-base uppercase">Empresa</h6>
                        <p class="font-semibold text-gray-600 text-base"> {{ experience['company'] }} <span class="font-normal text-gray-300">/ Tandil</span></p>
                    </div>

                    <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                        <h6 class="font-medium text-gray-400 text-base uppercase">Posición</h6>
                        <p class="font-normal text-gray-400 text-base"> {{ experience['position'] }} </p>
                    </div>
                    <div class="space-y-8 md:space-y-16">
                        <h6 class="font-medium text-gray-400 text-base uppercase">Tiempo</h6>
                        <p class="font-normal text-gray-400 text-base"> {{ experience['time'] }} </p>
                    </div>
                {% endfor %}
                </div>
            </div>

        <!-- </section>
        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Brands</h1>
                <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">Below is a summary of the places I studied</p>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                    <img src="assets/image/brand-1.png" alt="Image">
                    <img src="assets/image/brand-2.png" alt="Image">
                    <img src="assets/image/brand-3.png" alt="Image">
                    <img src="assets/image/brand-4.png" alt="Image">
                    <img src="assets/image/brand-5.png" alt="Image">
                    <img src="assets/image/brand-6.png" alt="Image">
                </div>
            </div>
        </section>

        <section class="py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Testimonial</h1>
                <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">Below is a summary of the places I studied</p>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                        <h6 class="font-semibold text-gray-500 text-md">Stephan Clark <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span></h6>
                    </div>
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                        <h6 class="font-semibold text-gray-500 text-md">Stephan Clark <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span></h6>
                    </div>
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                        <h6 class="font-semibold text-gray-500 text-md">Stephan Clark <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span></h6>
                    </div>
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                        <h6 class="font-semibold text-gray-500 text-md">Stephan Clark <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span></h6>
                    </div>
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                        <h6 class="font-semibold text-gray-500 text-md">Stephan Clark <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span></h6>
                    </div>
                    <div class="bg-gray-50 px-8 py-10 rounded-md">
                        <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
                        <h6 class="font-semibold text-gray-500 text-md">Stephan Clark <span class="font-medium text-gray-300 text-sm">- CEO at EarlyBird</span></h6>
                    </div>
                </div>
            </div>
        </section> -->

        <footer class="py-10 md:py-16 mb-20 md:mb-40 lg::mb-52">
            <div class="container max-w-screen-xl mx-auto px-4">
                <div class="text-center">
                    <h1 class="font-medium text-slate-300 text-4xl md:text-5xl mb-5">Redes</h1>
                    <div class="flex items-center justify-center space-x-8">
                        <a href="https://github.com/espindola-lucas" target="_blank" class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
                            <i data-feather="github" class="text-slate-300 hover:text-gray-800 transition ease-in-out duration-500"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/lucas-nahuel-espindola/" target="_blank" class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
                            <i data-feather="linkedin" class="text-slate-300 hover:text-gray-700 transition ease-in-out duration-500"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            feather.replace()
        </script>

    </body>
</html>